#map_id{
    height: 300px;
    width: 600px;
    overflow: auto;
    display: inline-block;
}
#contentP{
    height: 300px;
    width: 400px;
    margin: 50px;
    padding: 50px;
    text-align: center;
    float: right;
}